body {

    padding:0;
    font-family: 'Arial';
    background-image: url('test3.jpg');
    background-repeat: no-repeat;      
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;
}

.wrap
{width: 450px;
 border-radius: 10px;
 overflow: hidden;
 margin:auto; 
 opacity: 0.80;
 margin-top: 150px;
 padding: 20px;
 background: #fff;
 border:  1px solid silver;

}

.wrap h1 {
    text-align: center;
    margin-bottom:30px; 
}


.wrap input{
    align: center;
    font-size: 120%;
    width: 430px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid silver;
    padding: 5px;

}


#btn-login:hover {
    background-color:black;
    color: white;

}


#btn-login{

    font-size: 120%;
    padding: 5px;
    width: 445px;
    height: 49px;
    border-radius: 7px;
    color: white;
    font-size: 130%;
    background-color:#0a0a0a;   
    transition-duration: 0.2s;
    cursor: pointer;
}   



